<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.GroupResourceMapper">
  <resultMap id="BaseResultMap" type="com.cooperay.facade.admin.entity.GroupResource">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="GROUP_ID" jdbcType="BIGINT" property="groupId" />
    <result column="RESOURCE_ID" jdbcType="BIGINT" property="resourceId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, GROUP_ID, RESOURCE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_group_resource
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_group_resource
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cooperay.facade.admin.entity.GroupResource">
    insert into t_group_resource (ID, GROUP_ID, RESOURCE_ID
      )
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cooperay.facade.admin.entity.GroupResource">
    insert into t_group_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="groupId != null">
        GROUP_ID,
      </if>
      <if test="resourceId != null">
        RESOURCE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cooperay.facade.admin.entity.GroupResource">
    update t_group_resource
    <set>
      <if test="groupId != null">
        GROUP_ID = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        RESOURCE_ID = #{resourceId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cooperay.facade.admin.entity.GroupResource">
    update t_group_resource
    set GROUP_ID = #{groupId,jdbcType=BIGINT},
      RESOURCE_ID = #{resourceId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>