<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooperay.service.admin.dao.impl.BillNumberDaoImpl">
  <resultMap id="BaseResultMap" type="com.cooperay.facade.admin.entity.BillNumber">
    <id column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="expression" jdbcType="VARCHAR" property="expression" />
    <result column="lastDate" jdbcType="TIMESTAMP" property="lastdate" />
    <result column="random" jdbcType="INTEGER" property="random" />
  </resultMap>
  <sql id="Base_Column_List">
    cname, expression, lastDate, random
  </sql>
  
  
  <sql id="condition_sql">
  	  <if test="expression != null">
       AND expression = #{expression,jdbcType=VARCHAR}
      </if>
      <if test="lastdate != null">
       AND lastDate = #{lastdate,jdbcType=TIMESTAMP}
      </if>
      <if test="random != null">
       AND random = #{random,jdbcType=INTEGER}
      </if>
  </sql>
  
	<select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		billnumber
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
	</select>

	<select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		billnumber
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
  
  
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from billnumber
    where cname = #{cname,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from billnumber
    where cname = #{cname,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cooperay.facade.admin.entity.BillNumber">
    insert into billnumber (cname, expression, lastDate, 
      random)
    values (#{cname,jdbcType=VARCHAR}, #{expression,jdbcType=VARCHAR}, #{lastdate,jdbcType=TIMESTAMP}, 
      #{random,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cooperay.facade.admin.entity.BillNumber">
    insert into billnumber
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cname != null">
        cname,
      </if>
      <if test="expression != null">
        expression,
      </if>
      <if test="lastdate != null">
        lastDate,
      </if>
      <if test="random != null">
        random,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="expression != null">
        #{expression,jdbcType=VARCHAR},
      </if>
      <if test="lastdate != null">
        #{lastdate,jdbcType=TIMESTAMP},
      </if>
      <if test="random != null">
        #{random,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cooperay.facade.admin.entity.BillNumber">
    update billnumber
    <set>
      <if test="expression != null">
        expression = #{expression,jdbcType=VARCHAR},
      </if>
      <if test="lastdate != null">
        lastDate = #{lastdate,jdbcType=TIMESTAMP},
      </if>
      <if test="random != null">
        random = #{random,jdbcType=INTEGER},
      </if>
    </set>
    where cname = #{cname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cooperay.facade.admin.entity.BillNumber">
    update billnumber
    set expression = #{expression,jdbcType=VARCHAR},
      lastDate = #{lastdate,jdbcType=TIMESTAMP},
      random = #{random,jdbcType=INTEGER}
    where cname = #{cname,jdbcType=VARCHAR}
  </update>
</mapper>