<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooperay.service.admin.dao.impl.GroupDaoImpl">
	<resultMap id="BaseResultMap" type="com.cooperay.facade.admin.entity.Group">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, GROUP_NAME
	</sql>


	<sql id="condition_sql">
		<if test="groupName != null">
			AND GROUP_NAME = #{groupName,jdbcType=VARCHAR}
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		t_group
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
	</select>

	<select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		t_group
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_group
		where ID = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_group
		where ID = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.cooperay.facade.admin.entity.Group">
		insert into t_group (ID, GROUP_NAME)
		values (#{id,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.cooperay.facade.admin.entity.Group">
		insert into t_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="groupName != null">
				GROUP_NAME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="groupName != null">
				#{groupName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cooperay.facade.admin.entity.Group">
		update t_group
		<set>
			<if test="groupName != null">
				GROUP_NAME = #{groupName,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cooperay.facade.admin.entity.Group">
		update t_group
		set GROUP_NAME = #{groupName,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=BIGINT}
	</update>
</mapper>