<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooperay.service.admin.dao.impl.ResourceDaoImpl">
	<resultMap id="BaseResultMap" type="com.cooperay.facade.admin.entity.Resource">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="RESOURCE_NAME" jdbcType="VARCHAR" property="resourceName" />
		<result column="TYPE" jdbcType="VARCHAR" property="type" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, RESOURCE_NAME, TYPE
	</sql>


	<sql id="condition_sql">
		<if test="resourceName != null">
			AND RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR}
		</if>
		<if test="type != null">
			AND TYPE = #{type,jdbcType=VARCHAR}
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		t_resource
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
	</select>

	<select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		t_resource
		<where>
			<include refid="condition_sql" />
		</where>
	</select>



	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_resource
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_resource
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.cooperay.facade.admin.entity.Resource">
		insert into t_resource (ID,
		RESOURCE_NAME, TYPE
		)
		values (#{id,jdbcType=INTEGER},
		#{resourceName,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.cooperay.facade.admin.entity.Resource">
		insert into t_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="resourceName != null">
				RESOURCE_NAME,
			</if>
			<if test="type != null">
				TYPE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="resourceName != null">
				#{resourceName,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cooperay.facade.admin.entity.Resource">
		update t_resource
		<set>
			<if test="resourceName != null">
				RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				TYPE = #{type,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cooperay.facade.admin.entity.Resource">
		update t_resource
		set RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
		TYPE =
		#{type,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>