<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooperay.service.admin.dao.impl.ResourceDaoImpl">
	<resultMap id="BaseResultMap" type="com.cooperay.facade.admin.entity.Resource">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="RESOURCE_NAME" jdbcType="VARCHAR" property="resourceName" />
		<result column="TYPE" jdbcType="VARCHAR" property="type" />
		<result column="URL" jdbcType="VARCHAR" property="url" />
		<result column="ICON" jdbcType="VARCHAR" property="icon" />
		<result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, RESOURCE_NAME, TYPE, URL, ICON, PARENT_ID
	</sql>

	<sql id="condition_sql">
		<if test="resourceName != null">
			AND RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR}
		</if>
		<if test="type != null">
			AND TYPE = #{type,jdbcType=VARCHAR}
		</if>
		<if test="url != null">
			AND URL = #{url,jdbcType=VARCHAR}
		</if>
		<if test="icon != null">
			AND ICON = #{icon,jdbcType=VARCHAR}
		</if>
		<if test="parentId != null">
			AND PARENT_ID = #{parentId,jdbcType=BIGINT}
		</if>
		<!-- listAllUserResourceBy -->
		<if test="userId != null">
			AND USER_ID = #{userId,jdbcType=BIGINT}
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		t_resource
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID ]]>
	</select>

	<select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		t_resource
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
	
	<select id="listAllUserResourceBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT t1.*,t3.USER_ID,count(t1.id) FROM t_resource t1 
		LEFT JOIN t_group_resource t2 ON t1.id = t2.RESOURCE_ID 
		LEFT JOIN t_user_group t3 ON t2.GROUP_ID = t3.GROUP_ID 
		<where>
			<include refid="condition_sql" />
		</where>
		 group by t1.id
	</select>



	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_resource
		where ID = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_resource
		where ID = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.cooperay.facade.admin.entity.Resource">
		insert into t_resource (ID,
		RESOURCE_NAME, TYPE,
		URL, ICON, PARENT_ID)
		values
		(#{id,jdbcType=BIGINT}, #{resourceName,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{url,jdbcType=VARCHAR},
		#{icon,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="com.cooperay.facade.admin.entity.Resource">
		insert into t_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="resourceName != null">
				RESOURCE_NAME,
			</if>
			<if test="type != null">
				TYPE,
			</if>
			<if test="url != null">
				URL,
			</if>
			<if test="icon != null">
				ICON,
			</if>
			<if test="parentId != null">
				PARENT_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="resourceName != null">
				#{resourceName,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cooperay.facade.admin.entity.Resource">
		update t_resource
		<set>
			<if test="resourceName != null">
				RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				TYPE = #{type,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				URL = #{url,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				ICON = #{icon,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				PARENT_ID = #{parentId,jdbcType=BIGINT},
			</if>
		</set>
		where ID = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cooperay.facade.admin.entity.Resource">
		update t_resource
		set RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
		TYPE =
		#{type,jdbcType=VARCHAR},
		URL = #{url,jdbcType=VARCHAR},
		ICON =
		#{icon,jdbcType=VARCHAR},
		PARENT_ID = #{parentId,jdbcType=BIGINT}
		where
		ID = #{id,jdbcType=BIGINT}
	</update>
</mapper>